/*** ALL DEVICES' VARIABLES ***/

/* Typography */
$inventory-font-family: 'Avenir Next', sans-serif;
$font-weight-normal: normal;

/* Color Schemes */
$blue-color: #004892;
$black-color: #000;
$lightgrey-color: #F7F7F7;
