@import "_variables.scss";
@import "_mixins.scss";

/* GLOBAL RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  @include fontFaceAvenirNext();
}

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), url("./typography/Avenir\ Next.ttc");
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir Next;
  text-decoration: none;
}

/* Sidebar */

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #003b77;
  font-family: $inventory-font-family;
  @media (max-width: 1300px) {
    width: 180px;
  }
  @media (max-width: 800px) {
    width: 100px;
  }
  @media (max-width: 540px) {
    width: 40px;
    font-size: 0;
  }

  &__LogoLinkBox {
    &--topLogo {
      margin-top: 30px;
      height: 13px;
      width: 93px;
      @media (max-width: 540px) {
        transform: rotate(270deg);
        margin-top: 50px;
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    height: 250px;
    margin-top: 2vh;
    margin-bottom: 20vh;
    opacity: 0.6;

    &--label {
      display: flex;
      align-items: center;
      width: 250px;
      height: 80px;
      padding: 20px 0px;
      font-size: 14px;
      font-weight: 400;
      font-family: Avenir Next;
      color: #cacaca;
      background-color: #003b77;
      @media (max-width: 1300px) {
        width: 180px;
      }
      @media (max-width: 800px) {
        width: 100px;
      }
      @media (max-width: 540px) {
        width: 40px;
        font-size: 0;
      }
    }
    &--label:hover {
      display: flex;
      width: 250px;
      height: 80px;
      padding: 20px 0px;
      font-size: 14px;
      font-family: Avenir Next;
      color: #ffffff;
      background-color: #004892;
      @media (max-width: 1300px) {
        width: 180px;
      }
      @media (max-width: 800px) {
        width: 100px;
      }
      @media (max-width: 540px) {
        width: 40px;
        font-size: 0;
      }
    }

    &--img {
      margin: 0 30px 0 30px;
      height: 24px;
      width: 24px;
      @media (max-width: 800px) {
        margin: 0 5px 0 5px;
      }
    }

    &--img:hover {
      margin: 0 30px 0 30px;
      height: 24px;
      width: 24px;
      @media (max-width: 800px) {
        margin: 0 5px 0 5px;
      }
    }

    &--link {
      width: 250px;
      height: 80px;
      position: fixed;
    }
  }

  &__links:hover {
    opacity: 0.9;
  }

  &__bottomVersionText {
    color: white;
    font-size: 12px;
    margin: 40px;
    @media (max-width: 540px) {
      font-size: 0;
    }
  }
}

/* Topbar */

.topbar {
  display: flex;
  flex-direction: row;
  margin-left: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  @media (max-width: 700px) {
    margin-left: 130px;
  }
  @media (max-width: 500px) {
    margin-left: 80px;
  }
  @media (max-width: 300px) {
    margin-left: 50px;
  }

  &__searchBox {
    font-family: AvenirNext-Regular;
    margin-left: 120px;
    background-color: #f7f7f7;
    border-radius: 2px;
    border: #dedede solid medium;
    @media (max-width: 1420px) {
      margin-left: 70px;
    }
    @media (max-width: 800px) {
      margin-left: 10px;
    }

    &--input {
      background-color: #f7f7f7;
      height: 40px;
      width: 381px;
      border: none;
      outline: none;
      padding-left: 20px;
      @media (max-width: 1024px) {
        width: 300px;
        display: inline;
      }
      @media (max-width: 850px) {
        width: 200px;
        display: inline;
      }
      @media (max-width: 700px) {
        max-width: 90px;
        width: 90px;
        display: inline;
      }
      @media (max-width: 500px) {
        max-width: 70px;
        width: 70px;
        display: inline;
      }
    }

    &--input::placeholder {
      font-size: 14px;
      vertical-align: middle;
    }

    &--input:hover::placeholder {
      color: black;
      font-size: 14px;
      vertical-align: middle;
    }

    &--img {
      vertical-align: middle;
      padding-right: 20px;
      width: 20px;
      height: 25px;
    }
  }

  &__searchBox:hover {
    font-family: AvenirNext-Regular;
    margin-left: 120px;
    background-color: #f7f7f7;
    border-radius: 2px;
    border: #004892 solid medium;
    @media (max-width: 1420px) {
      margin-left: 70px;
    }
    @media (max-width: 800px) {
      margin-left: 10px;
    }

    &--input:hover {
      background-color: #f7f7f7;
      color: black;
      height: 40px;
      width: 381px;
      border: none;
      outline: none;
      padding-left: 20px;
      @media (max-width: 1024px) {
        width: 300px;
        display: inline;
      }
      @media (max-width: 850px) {
        width: 200px;
        display: inline;
      }
      @media (max-width: 700px) {
        max-width: 90px;
        width: 90px;
        display: inline;
      }
      @media (max-width: 500px) {
        max-width: 70px;
        width: 70px;
        display: inline;
      }
    }
  }

  &__rightBox {
    display: flex;
    align-items: center;
    margin-left: 45%;
    margin-right: 20px;
    @media (max-width: 1420px) {
      margin-left: 100px;
      margin-right: 20px;
    }
    @media (max-width: 1024px) {
      margin-left: 50px;
      margin-right: 10px;
    }
    @media (max-width: 800px) {
      margin-left: 10px;
      margin-right: 10px;
    }

    &--userImg {
      border-radius: 100%;
      background-position: center;
      background-size: cover;
      width: 36px;
      height: 36px;
      margin-right: 10px;
    }
  }
}

.warehouses {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: 10px 40px;
  left: 250px;
  min-height: 93vh;
  width: 85vw;

  @media (max-width: 1920px) {
    width: 80vw;
  }
  @media (max-width: 1420px) {
    width: 75vw;
  }
  @media (max-width: 1300px) {
    left: 180px;
  }
  @media (max-width: 1024px) {
    width: 70vw;
  }
  @media (max-width: 850px) {
    width: 65vw;
  }
  @media (max-width: 800px) {
    left: 100px;
    width: 70vw;
  }
  @media (max-width: 600px) {
    width: 65vw;
  }
  @media (max-width: 540px) {
    left: 40px;
  }
  &__header {
    margin: 30px 10px 10px 10px;

    &--upperLeft {
      font-size: 1.5rem;
      font-weight: 200;
    }
    &--lowerRight {
      text-align: right;
      font-size: 0.7rem;
      font-weight: bold;
      color: #004892;
    }
  }

  &__addButton {
    position: fixed;
    width: 65px;
    height: 65px;
    background-color: #004892;
    border-radius: 100%;
    box-shadow: #000000 0 40px 121px 0;
    text-align: center;
    bottom: 100px;
    right: 200px;
    padding: 21px 0;
    &:hover {
      background-color: #003b77;
    }
  }
}
.warehouseBox {
  margin-bottom: 15px;
  padding: 10px;
  background-color: white;
  border: #adadad thin solid;
  border-radius: 3px;

  &__upper {
    display: flex;
    justify-content: left;
    color: #003b77;
    padding: 10px;
  }

  &__lower {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;

    &--header {
      color: black;
      padding-bottom: 10px;
    }

    &--leftContainer {
      font-size: 12px;
      color: #7c7c7c;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 20vw;
      min-width: 100px;
      padding: 5px;
    }

    &--centralContainer {
      font-size: 12px;
      color: #7c7c7c;
      display: flex;
      flex-direction: column;
      width: 20vw;
      min-width: 140px;
      padding: 5px;
    }

    &--rightContainer {
      font-size: 12px;
      color: #7c7c7c;
      display: flex;
      flex-direction: column;
      width: 20vw;
      min-width: 100px;
      padding: 5px;
    }
  }
}

.form-container {
  padding: 0 2.5rem;
  overflow-y: auto;

  & h1 {
    font-size: 16px;
    padding: 2.5rem 0;
  }
}

.formModal {
  @include flex-column();
  justify-content: flex-start;
  font-size: 12px;
  @media (max-width: 600px) {
    align-items: center;
  }

  &__label {
    @include flex-column();
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    margin-right: 1rem;

    @media (max-width: 600px) {
      margin: 0.5rem 0;
    }
  }
  &__wrapper {
    display: flex;
    @media (max-width: 600px) {
      display: block;
      padding-bottom: 2.5rem;
      margin-top: 3.5rem;
    }
  }

  &__address {
    @include flex-column();
    justify-content: flex-start;
  }

  &__contactInfo {
    @include flex-column();
    justify-content: flex-start;
  }

  &__field {
    width: 255px;
    height: 40px;
    border: 1px solid #cacaca;
    border-radius: 2px;

    @media (max-width: 600px) {
      margin: 0.5rem 0;
    }
  }

  &__button {
    background-color: #004892;
    border-radius: 3px;
    color: #ffffff;
    border: none;
    width: 131px;
    height: 38px;

    &:hover {
      background-color: #003b77;
    }
    @media (max-width: 600px) {
      position: absolute;
      bottom: -555px;
    }
  }
}

/* INVENTORY SECTION */
.inventoryList__container {
  background-color: $lightgrey-color;
  width: 85vw;
  min-height: 100vh;
  margin-left: 15vw;
  margin-top: 10vh;
  font-family: $inventory-font-family;

  .inventoryList--heading-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    position: relative;
    left: 5%;
    padding: 5% 2% 2% 2%;

    .inventoryList--heading {
      h1 {
        font-size: 1.5rem;
        font-weight: 200;
      }
    }
    .inventoryList--filter {
      display: flex;
      flex-direction: column-reverse;
      h2 {
        font-size: 0.7rem;
        font-weight: bold;
        color: $blue-color;
      }
    }
  }
  .inventoryList--main-container {
    width: 90%;
    position: relative;
    left: 5%;
    background: #fff;
    border: 1px solid #dedede;

    .inventoryList__form--product-heading {
      display: flex;
      justify-content: space-around;
      font-size: 0.6rem;
      width: 100%;
      padding: 3% 0;

      .inventoryList__form--product-heading-group {
        display: flex;
        justify-content: space-around;
        width: 90%;

        .inventoryList__form--item {
          width: 15%;
        }
        .inventoryList__form--lastOrdered {
          width: 15%;
        }
        .inventoryList__form--location {
          width: 15%;
        }
        .inventoryList__form--quantity {
          width: 15%;
        }
        .inventoryList__form--status {
          width: 15%;
        }
      }
      .spaceBlock {
        width: 10%;
      }
    }

    .grey {
      background-color: $lightgrey-color;
    }

    .inventoryList__form--product-details {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      font-size: 0.6rem;
      width: 100%;
      padding: 3% 0;

      .inventoryList__form--product-details-group {
        display: flex;
        justify-content: space-around;
        width: 90%;

        .inventoryList__form--product-name-container {
          width: 15%;
          .inventoryList__form--product {
            color: $blue-color;
          }
          .inventoryList__form--product-desc {
            font-weight: $font-weight-normal;
            color: $black-color;
          }
        }
        .inventoryList__form--date-container {
          width: 15%;
          h3 {
            font-weight: $font-weight-normal;
            color: $black-color;
          }
        }
        .inventoryList__form--city-province-container {
          width: 15%;
          h3 {
            font-weight: $font-weight-normal;
            color: $black-color;
          }
        }
        .inventoryList__form--quantity-number-container {
          width: 15%;
          h3 {
            font-weight: $font-weight-normal;
            color: $black-color;
          }
        }
        .inventoryList__form--quantity-in-stock-container {
          width: 15%;
          h3 {
            font-weight: $font-weight-normal;
            color: $black-color;
          }
        }
      }
      .inventoryList__form--delete-product {
        width: 10%;
        font-family: $inventory-font-family;
        font-size: 0.9rem;
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        overflow: hidden;
        outline: none;
        opacity: 0.6;
        &:focus {
          outline: 0;
        }
        transition: transform 0.2s;
        &:hover {
          opacity: 1;
          text-shadow: 0 0 1px #f70d5b;
          transform: scale(1.08);
        }
      }
    }
  }
}

/* Product Details */

.productDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f7f7f7;
  width: 85vw;
  min-height: 100vh;
  margin-left: 15vw;
  font-family: "Avenir Next", sans-serif;

  .invRecordsNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 11vh;
    color: #3a3a3a;
    font-size: 20px;
    font-weight: 600;
    .backLink {
      a {
        color: inherit;
        text-decoration: none;
        width: 100%;
        img {
          margin-right: 1%;
          margin-left: 5%;
        }
      }
    }
  }
  .invRecords {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    .invRecordsBox {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 80%;
      background-color: #ffffff;
      border: solid 0.5px #dedede;
      color: #3a3a3a;
      font-size: 12px;
      padding: 2%;
    }
    .invRecordsBox__names {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: #004892;
      font-size: 16px;
      font-weight: bold;
      margin: 0;
      .buttonBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 131px;
        height: 38px;
        border-radius: 3px;
        background-color: #004892;

        span {
          font-size: 12px;
          color: #ffffff;
          font-weight: 600;
          margin-right: 5%;
        }
      }
    }
    .invRecordsBox__items {
      margin: 1% 0;
      span {
        font-weight: bold;
        margin-right: 1%;
      }
    }
  }
}
